body {
	font-family: 'Open Sans', sans-serif;
	/* background: linear-gradient(to right, #00c6ff, #0072ff); */
	background-color: #af8baf;
	color: #26191b;
}

label {
	font-weight: bold;
}

.questions {
	margin: 1rem;
}

.inputs {
	display: block;
	width: 100%;
	height: 2rem;
	padding-left: 1rem;
}

#header {
	text-align: center;
}

#description {
	font-style: italic;
}

#survey-form {
	background-color: rgba(255, 255, 255, 0.4);
	text-align: left;
	max-width: 500px;
	margin: auto;
	padding: 5%;
	border-radius: 1%;
}

#textarea {
	resize: none;
	max-width: 100%;
}

#submit {
	width: 100%;
	height: 2rem;
}
